.form-heading {
  @apply text-2xl font-bold text-center mb-6;
}
.form-input {
  @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 mb-1;
}

.form-label {
  @apply block text-sm font-semibold text-gray-700 mb-1;
}

.form-error {
  @apply text-red-600 text-sm w-full mt-1 block;
}

.submit-success {
  @apply mt-2 text-center text-green-800 w-full break-words overflow-hidden;
}

.submit-error {
  @apply mt-2 text-center text-red-600 w-full break-words overflow-hidden;
}

.form-row-2 {
  @apply flex flex-col lg:flex-row justify-between items-center lg:items-start space-x-4;
}

.btn-primary {
  @apply text-white w-full sm:w-3/4 lg:w-1/2 bg-gradient-to-r from-green-500 to-green-700 hover:from-green-600 hover:to-green-800 font-bold py-2.5 px-4 rounded-lg shadow-md transition-all duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-2 hover:cursor-pointer;
}

.btn-secondary {
  @apply text-white bg-lime-500 hover:bg-lime-600 font-bold py-2.5 px-4 rounded-lg shadow-md transition-all duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-lime-400 focus:ring-offset-2 hover:cursor-pointer;
}

/* 3 in a row page-content layout */
.layout-2-in-row {
  @apply flex flex-col w-full mx-auto sm:w-[75%] lg:w-full p-5;
}

.form-group {
  @apply mb-4 w-full lg:w-3/4;
}

.td {
  @apply px-4 py-2 text-left;
}

/* Pagination component start */
.pagination {
  @apply flex justify-center mt-4;
}

.page-link {
  @apply px-4 py-2 cursor-pointer no-underline;
}

.page-item.active .page-link {
  @apply bg-blue-500 text-white;
}

.page-item.disabled .page-link {
  @apply text-gray-500 cursor-not-allowed;
}
/* pagination component end */

.modal::-webkit-scrollbar {
  display: none;
}

.modal {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
